.padre {
    display: flex;
    justify-content: center;
    margin: 0.625rem;
    align-items: center;
  }
  .hijo {
    padding:0.313rem;
    margin: 0.063rem;
  }


    .titulo{
    height: 2.125rem;
    top: calc(50% - 34px/2 + 1px);
    margin-right: 7.5rem;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing:0.063rem;
    color: #252733;
    }

  .containerInput{
    width: 28.313rem;
    height: 1.625rem;
    left: 25.938rem;
    top: 0.813rem;
  }
  .inputBuscar{
    width: 25.813rem;
    height: 1.5rem;
    left: 25.938rem;
    top: 0.813rem;
    background:  #D9D9D9;
    border: none;

  }
  button{
    height: 1.625rem;
    width: 2.25rem;
    color: #C5C7CD;
    border: none;
  }
.media{
    display: flex;
    align-items: center;
}
.hijo2{
  margin-bottom: 0.625rem;
  margin-right: 0.313rem;
}

  .usuario{
    width: 12.5rem;
    height: 0.625rem;    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: right;
    letter-spacing: 0.013rem;
    }
.avatar{
width: 2.75rem;
height: 2.75rem;
top: calc(50% - 44px/2);
border: 1.5px solid #DFE0EB;
border-radius: 50%;
margin-top: 0.625rem;
}
.icon{
  position: relative;
}
.campana{
width: 1.563rem;
height: 1.563rem;
color: #C5C7CD;
}
.counter{
  width: 0.063rem;
  height: 0.063rem;
  background-color: #3751FF;
  border-radius: 50%;
  padding: 0.313rem; 
  position: absolute;
  top: 3.25rem;
  margin-left: 0.625rem;
  border: 0.094rem solid #DFE0EB;
}
 


  